<div class="app-wrapper">

  <nav class="navbar">
    <div class="navbar-inner">
      <a routerLink="/battles" class="navbar-brand">
        <span class="brand-tag">FBL</span>
        <div class="brand-text">
          <span class="brand-main">FLIP</span><span class="brand-accent">TOP</span>
          <span class="brand-sub">BATTLE LEAGUE · OFFICIAL RECORDS</span>
        </div>
      </a>
      <a routerLink="/battles/new" class="btn-add">+ LOG BATTLE</a>
    </div>
    <div class="navbar-stripe"></div>
  </nav>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    <span class="footer-tag">■</span>
    FLIPTOP BATTLE LEAGUE &nbsp;·&nbsp; MEAN STACK FINALS LAB ACTIVITY 6
    <span class="footer-tag">■</span>
  </footer>

</div>
